@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    body{
        font-family: 'Poppins', sans-serif;
    }
}


.list{
    position:relative;
}
.list::after{
    content:'';
    position:absolute;
    width:0%;
    height:2px;
    background:black;
    left:50%;
    transform: translate(-50%);
    bottom: -1px;
    transition: 0.4s ease;
}

.list:hover:after{
    background: #DB4444;
    color: #DB4444;
    width: 100%;
}
.active{
    color: #DB4444;
}
.swiper-pagination-bullet-active {
  background: white !important;
}

.mySwiper .swiper-pagination-bullet {
  background: gray !important;
}

.mySwipers .swiper-pagination-bullet-active {
  background: red !important;
}

